// detail.wxs
function padZero(num) {
  // 兼容WXS的补零方法
  return num < 10 ? '0' + num : '' + num;
}

function formatDate(dateStr) {
  if (!dateStr) {
    return '未填写';
  }
  
  var date = getDate(dateStr);
  if (isNaN(date.getTime())) {
    return '无效时间';
  }
  
  var year = date.getFullYear();
  var month = padZero(date.getMonth() + 1);
  var day = padZero(date.getDate());
  
  return year + '-' + month + '-' + day;
}

module.exports = {
  formatDate: formatDate
};